.input-inline-item(@pos) {
  position: absolute;
  color: @secondaryTextColor;
  top: 50%;
  transform: translateY(-50%);

  & when (@pos = 'left') {
    left: 0;
  }

  & when (@pos = 'right') {
    right: 0;
  }
}

esn-filter-input {
  margin: 2px 0;

  .esn-filter-input-filter-icon {
    .input-inline-item('left');

    font-size: 20px;
  }

  input.esn-filter-input-field.form-control {
    width: 100%;
    padding-left: 25px;
    padding-right: 30px;
    background: transparent;
  }

  .esn-filter-input-clear-btn {
    .input-inline-item('right');

    i {
      font-size: 20px;
    }
  }
}
